@(id: Long, groupForm: Form[Group])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Edit group</h2>
    
    @form(routes.GroupApplication.update(id), 'class -> "form-horizontal") {
        
        <fieldset>
        
            @inputText(groupForm("name"), '_label -> "Name")
        
        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Save this group" class="btn btn-primary"> or 
            <a href="@routes.GroupApplication.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.GroupApplication.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this group" class="btn btn-danger">
    }
    
    
    
    <div ng-controller="MembershipController">
        <table class="table table-striped table-bordered">
	        <thead>
	            <tr>
	                <th class="header">Members</th>
	            </tr>
	        </thead>
	        <tbody>
		    @for(member <- groupForm.get().members) {
	                <tr>
	                    <td>
		    				<a href="@routes.Application.listByUserId(0, "paidDate", "desc", member.user.id)">@member.user.name</a>
		    				
						         <div class="text-toggle-button" >
						            <input type="checkbox" name="member[@member.id].id" value="@member.admin" class="toggle" 
						            ng-model="member_@{member.id}.admin" ng-checked="@member.admin" ng-change="updateRole('member_@member.id', @member.group.id, @member.user.id)"
						            @{
							            if(member.admin) {
							               "CHECKED"
							            }
						            }
						             />
						         </div>
            
		    				@form(routes.GroupApplication.removeMember(id, member.user.id), 'style -> "display:inline") {
						        <input type="submit" value="Delete" class="btn btn-danger">
						    }
						    
						</td>
					</tr>        
		    }
	        </tbody>
	        
	    </table>
    </div>
    
    @form(routes.GroupApplication.addMember(id), 'class -> "form-horizontal") {
    
    	<div class="clearfix control-group ">
	    	@select(
	                groupForm("member.id"), 
	                options(User.options), 
	                '_label -> "Payee", '_default -> "-- Choose a member --",
	                '_showConstraints -> false,
	                'style -> "width:300px"
	            )
            
    	</div>
		
		<div class="form-actions">
		<p>   <input class="btn btn-primary" type="submit" value="Add a member">
			     </p>
		</div>
    }
    
    <script>
    function MembershipController($scope, $http) {
    	  
    	 
    	  $scope.updateRole = function(model, groupId, memberId) {
			
			$http({method: 'POST', url: '/groups/'+groupId+'/members/'+memberId+'/update', data: $scope[model]}).
			  success(function(data, status, headers, config) {
			    console.log(status);
			    console.log(data);
			  }).
			  error(function(data, status, headers, config) {
				    console.log(status);
				    console.log(data);
			  });
    	  };
    	  
    }
    </script>
    
}
