@(id: Long, credentialForm: Form[Credential])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Update user password</h2>
    
    @form(routes.UserApplication.updatePassword(id), 'class -> "form-horizontal") {
        
        <fieldset>
        
            @inputPassword(credentialForm("password"), '_label -> "Password")
        
        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Save this user" class="btn btn-primary"> or 
            <a href="@routes.UserApplication.list()" class="btn">Cancel</a> 
        </div>
        
    }
}
