@(id: Long, credentialForm: Form[Credential])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {

	<div ng-app="puChangePassword" ng-controller="ChangePasswordController">
    
    <h2>Update user password</h2>
    
    <form action="@routes.UserApplication.loggedInUserUpdatePassword()" method="POST" class="form-horizontal" role="form" ng-submit="changePassword($event)">
        
        <fieldset>
        
			<field-row element-label="Password" element-id="password">
				<input type="password" id="password" name="password" class="form-control" ng-model="data.first_password" >
			</field-row>
                
            
			<field-row element-label="Confirm Password" element-id="confirm_password">
				<input type="password" id="confirm_password" name="confirm_password" class="form-control" ng-model="data.confirm_password" >
			</field-row>
        
        </fieldset>
        
        <div class="form-actions">
        	<div class="col-sm-2"></div>
            <input type="submit" value="Save this user" class="btn btn-primary" > or 
            <a href="@routes.UserApplication.list()" class="btn btn-default">Cancel</a> 
        </div>
        
    </form>
    </div>
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/changepassword-controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/form-module.js")"></script>
}
