@(id: Long, credentialForm: Form[Credential])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Update user password</h2>
    
    @form(routes.UserApplication.loggedInUserUpdatePassword(id), 'class -> "form-horizontal", 'role -> "form") {
        
        <fieldset>
        
            @inputPassword(credentialForm("password"), '_label -> "Password",
                'class -> "form-control")
        
        </fieldset>
        
        <div class="form-actions">
        	<div class="col-sm-2"></div>
            <input type="submit" value="Save this user" class="btn btn-primary"> or 
            <a href="@routes.UserApplication.list()" class="btn btn-default">Cancel</a> 
        </div>
        
    }
}
