@(userForm: Form[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Add a user</h2>
    
    @form(routes.UserApplication.save(), 'class -> "form-horizontal", 'role -> "form") {
        
        <fieldset>
        
            @inputText(userForm("name"), '_label -> "Name",
                'class -> "form-control")
            @inputText(userForm("nickName"), '_label -> "Nick Name",
                'class -> "form-control")
            @inputText(userForm("email"), '_label -> "Email",
                'class -> "form-control")
            @inputPassword(userForm("credential.password"), '_label -> "Password",
                'class -> "form-control")

        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Create this user" class="btn btn-primary"> or 
            <a href="@routes.UserApplication.list()" class="btn btn-default">Cancel</a> 
        </div>
        
    }
    
}
