@(id: Long, userForm: Form[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Edit user</h2>
    
    @form(routes.UserApplication.update(id), 'class -> "form-horizontal") {
        
        <fieldset>
        
            @inputText(userForm("name"), '_label -> "Name")
            @inputText(userForm("email"), '_label -> "Email")
            @inputPassword(userForm("credential.password"), '_label -> "Password")
        
        	@for(role <- Role.find.all()) {
			   <div class="control-group">
			      <label class="control-label"> @role.name </label>
			      <div class="controls">
			         <div class="text-toggle-button">
			            <input type="checkbox" name="roles[@role.id].id" value="@role.id" class="toggle"
			            @{
				            if(userForm.get().hasRole(role.code)) {
				               "CHECKED"
				            }
			            } />
			         </div>
			      </div>
			   </div>
			}
        
        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Save this user" class="btn btn-primary"> or 
            <a href="@routes.UserApplication.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.UserApplication.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this user" class="btn btn-danger">
    }
    
}
