@(id: Long, userForm: Form[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Edit user</h2>
    
    @form(routes.UserApplication.update(id), 'class -> "form-horizontal", 'role -> "form") {
        
        <fieldset>
        
            @inputText(userForm("name"), '_label -> "Name",
                'class -> "form-control")
            @inputText(userForm("nickName"), '_label -> "Nick Name",
                'class -> "form-control")
            @inputText(userForm("email"), '_label -> "Email",
                'class -> "form-control")
        
        	@for((role, index) <- Role.find.all().zipWithIndex) {
        		
			   <div class="form-group">
			      <label class="control-label col-sm-2"> @role.name </label>
			      <div class="controls">
			         <div class="text-toggle-button col-sm-5 ">
			            <input type="checkbox" name="roles[@index].id" value="@role.id" class="toggle"
			            @{
				            if(userForm.get().hasRole(role.code)) {
				               "CHECKED"
				            }
			            } />
			         </div>
			      </div>
			   </div>
			}
			
			
        <table class="table table-striped table-bordered">
	        <thead>
	            <tr>
	                <th class="header" width="80%">Members</th>
	                <th class="header">Admin</th>
	                <th class="header">Action</th>
	            </tr>
	        </thead>
	        <tbody>
	        @for(address <- UserAddressMap.find.all()){
				<tr><td>@address.name</td></tr>
				<tr><td>@address.name</td></tr>
				<tr><td>@address.name</td></tr>
			}
	        </tbody>
	        
	    </table>
			
        
        </fieldset>
        
        <div class="form-actions">
        	<div class="col-sm-2"></div>
            <input type="submit" value="Save this user" class="btn btn-primary"> or 
            <a href="@routes.UserApplication.list()" class="btn btn-default">Cancel</a> 
        </div>
        
    }
    
    @form(routes.UserApplication.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this user" class="btn btn-danger">
    }
    
}
