@(id: Long, payerForm: Form[Payer])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Edit payer</h2>
    
    @form(routes.PayerApplication.update(id), 'class -> "form-horizontal") {
        
        <fieldset>
        
            @inputText(payerForm("name"), '_label -> "Name")
            
            @inputText(payerForm("description"), '_label -> "Description")
        
        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Save this payer" class="btn btn-primary"> or 
            <a href="@routes.PayerApplication.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.PayerApplication.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this payer" class="btn btn-danger">
    }
    
}
