@(id: Long, userForm: Form[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Edit user</h1>
    
    @form(routes.UserApplication.update(id)) {
        
        <fieldset>
        
            @inputText(userForm("name"), '_label -> "Name")
            @inputText(userForm("email"), '_label -> "Email")
            @inputPassword(userForm("password"), '_label -> "Password")
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this user" class="btn primary"> or 
            <a href="@routes.UserApplication.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.UserApplication.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this user" class="btn danger">
    }
    
}
