@(paymentForm: Form[Payment])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Add a payment</h2>
    
    @form(routes.Application.save(), 'class -> "form-horizontal") {
        
        <fieldset>

            @select(
                paymentForm("paymentType.id"), 
                options(PaymentType.options), 
                '_label -> "Payment Type", '_default -> "-- Choose a payment type --",
                '_showConstraints -> true,
                'style -> "width:300px"
            )

            @select(
                paymentForm("payee.id"), 
                options(Payee.options), 
                '_label -> "Payee", '_default -> "-- Choose a payee --",
                '_showConstraints -> true,
                'style -> "width:300px"
            )
            
            @inputDate(paymentForm("startPeriod"), 
            	'_label -> "Start Period", 
            	Symbol("data-date-format") -> "dd/MM/yyyy"
            )
            
            @inputDate(paymentForm("endPeriod"), 
            	'_label -> "End Period", 
            	Symbol("data-date-format") -> "dd/MM/yyyy"
            )
            
            @inputDate(paymentForm("paidDate"), 
            	'_label -> "Paid Date", 
            	Symbol("data-date-format") -> "dd/MM/yyyy"
            )
            
            @inputText(paymentForm("name"), '_label -> "Description")
            
            @inputText(paymentForm("amount"), '_label -> "Amount")
            
            @inputText(paymentForm("reference"), '_label -> "Reference")
            
            @textarea(paymentForm("remarks"), '_label -> "Remarks", 'rows -> 4, 'cols -> 50)
            

        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Create this payment" class="btn btn-primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
        <div id="templates-list-button-container">
        </div>
        
        <div>
        <div id="templates-list-container"></div>
        </div>
        <script type="text/x-handlebars-template" id="templates-list-button-template">
        	<div class="topRight">
            	<a id="templates-list-open-btn" class="btn">Templates</a> 
        	</div>
		</script>
		
        <script type="text/x-handlebars-template" id="templates-list-modal-template">
			<div id="templates-list-modal" class="modal hide fade">
  				<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    				<h3>Modal header</h3>
  				</div>
  				<div class="modal-body">
			    	<p>One fine body…</p>
  				</div>
  				<div class="modal-footer">
    				<a id="templates-list-close-btn" class="btn">Close</a>
    				<a href="#" class="btn btn-primary">Save changes</a>
  				</div>
			</div>			
		</script>
        
    }
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/date.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/payments.js")"></script>
    
}
