@(paymentForm: Form[MonthlyPayment])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

<!-- @currentYear = @{
				  import java.util.Calendar
				  import java.text.SimpleDateFormat
				
				  val today = Calendar.getInstance.getTime
				  val curYear = new SimpleDateFormat("yyyy")
				
				  curYear.format(today)
				} -->
			
@main {
    
    <h2>Add a payment</h2>
    
    @form(routes.Application.saveMonthly(), 'class -> "form-horizontal", 'role -> "form") {
        
        <fieldset>

            @select(
                paymentForm("paymentType.id"), 
                options(PaymentType.options), 
                '_label -> "Payment Type", '_default -> "-- Choose a payment type --",
                '_showConstraints -> true,
                'style -> "width:300px",
                'class -> "form-control"
            )

            @select(
                paymentForm("payee.id"), 
                options(User.options), 
                '_label -> "Payee", '_default -> "-- Choose a payee --",
                '_showConstraints -> true,
                'style -> "width:300px",
                'class -> "form-control"
            )
            
            @inputText(paymentForm("payeeAccountNumber"), '_label -> "Payee Account",
                'class -> "form-control")

            @select(
                paymentForm("payer.id"), 
                options(User.options), 
                '_label -> "Payer", 
                '_showConstraints -> true,
                'style -> "width:300px",
                'class -> "form-control"
            )
                        
            @select(
                paymentForm("year"), 
                options(Payment.yearOptions), 
                '_label -> "Year",
                '_showConstraints -> true,
                'style -> "width:300px",
                'class -> "form-control"
            )
            
        	<div ng-controller="ReferenceController">
            @for((key, value) <- Payment.monthOptions()) {
				   <div class="form-group">
				      <label class="col-sm-2 control-label"> @value </label>
				      <div class="controls col-sm-5 ">
				         <div class="text-toggle-button ">
				            <input type="checkbox" id="months[@key]" name="months[@key]" value="@key" class="toggle" 
				            	ng-model="month_@key"
				             />
				            <input type="text" id="references[@key]" name="references[@key]" value="" placeholder="reference #" ng-show="month_@key" 
				            	class="form-control"
				             />
				         </div>
				      </div>
				   </div>
			}
		   </div>
            
            @inputText(paymentForm("name"), '_label -> "Description",
                'class -> "form-control")
            
            @inputText(paymentForm("amount"), '_label -> "Amount",
                'class -> "form-control")
            
            @textarea(paymentForm("remarks"), '_label -> "Remarks", 'rows -> 4, 'cols -> 50,
                'class -> "form-control")
            

        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Create this payment" class="btn btn-primary"> or 
            <a href="@routes.Application.list()" class="btn btn-default">Cancel</a> 
        </div>
        
        <div id="templates-list-button-container">
        </div>
        
        <div>
        <div id="templates-list-container"></div>
        </div>
        <script type="text/x-handlebars-template" id="templates-list-button-template">
        	<div class="topRight">
            	<a id="templates-list-open-btn" class="btn btn-default">Templates</a> 
        	</div>
		</script>
		
        <script type="text/x-handlebars-template" id="templates-list-modal-template">
			<div id="templates-list-modal" class="modal fade">
  				<div class="modal-dialog">
    			<div class="modal-content">
  				<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    				<h3>Templates</h3>
  				</div>
  				<div class="modal-body">
					<div id="template-search-div" class="search-div">
						<input type="search" id="search-template" name="search-template" value="" placeholder="Filter..." class="form-control">
					</div>

					<div id="templates-list-body">

					</div>
  				</div>
  				<div class="modal-footer">
    				<a id="templates-list-close-btn" class="btn btn-default">Close</a>
  				</div>
				</div>
				</div>
			</div>			
		</script>
        
    }
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/date.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/payments.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/reference-controller.js")"></script>
    
}
