@(id: Long, paymentForm: Form[Payment], artifacts: java.util.List[PaymentArtifact])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Edit payment</h2>
    
    @form(routes.Application.update(id), 'class -> "form-horizontal") {
        
        <fieldset>

            @select(
                paymentForm("paymentType.id"), 
                options(PaymentType.options), 
                '_label -> "Payment Type", '_default -> "-- Choose a payment type --",
                '_showConstraints -> true,
                'style -> "width:300px"
            )

            @select(
                paymentForm("payee.id"), 
                options(Payee.options), 
                '_label -> "Payee", '_default -> "-- Choose a payee --",
                '_showConstraints -> false,
                'style -> "width:300px"
            )
            
            
            @input(paymentForm("startPeriod"), 
            	'_label -> "Start Period") { (id, name, value, args) =>
			    <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args) data-date-format="dd/mm/yyyy" style="width:80px"/>
			    <script>
			    $('#@id').datepicker();
			    </script>
			} 
            
            @input(paymentForm("endPeriod"), 
            	'_label -> "End Period") { (id, name, value, args) =>
			    <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args) data-date-format="dd/mm/yyyy" style="width:80px"/>
			    <script>
			    $('#@id').datepicker();
			    </script>
			} 
            
            @input(paymentForm("paidDate"), 
            	'_label -> "Paid Date") { (id, name, value, args) =>
			    <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args) data-date-format="dd/mm/yyyy" style="width:80px"/>
			    <script>
			    $('#@id').datepicker();
			    </script>
			} 
            
            @inputText(paymentForm("name"), '_label -> "Description")
            
            @inputText(paymentForm("amount"), '_label -> "Amount")
            
            @inputText(paymentForm("reference"), '_label -> "Reference")
            
            @textarea(paymentForm("remarks"), '_label -> "Remarks", 'rows -> 4, 'cols -> 50)
            
   
        
        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Save this payment" class="btn btn-primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
     @form(action = routes.Application.uploadFile(id), 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
     
     	<div class="clearfix control-group ">
		    <label for="upload_file" class="control-label">Attachment</label>
		    <div class="input controls">
		        
			    <input id="upload_file" class="btn" type="file" name="picture" style="background:none; width:500px">
			     
		    </div>
		</div>
		
		<div class="form-actions">
		<p>   <input class="btn btn-primary" type="submit">
			     </p>
		</div>
     
		
	 }
	 
	 
    <table class="payments table table-striped table-bordered">
        <thead>
            <tr>
                <td>Artifacts</td>
            </tr>
        </thead>
        <tbody>
        	@for(artifact <- artifacts) {
                <tr>
                    <td>
						<a href="@routes.Application.getPaymentArtifact(artifact.id)">@artifact.name</a>

					</td>
				</tr>        	
        	}
        </tbody>
        
    </table>
	 
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this payment" class="btn btn-danger">
    }
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/date.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/payments.js")"></script>
    
    
}
