@(id: Long, paymentForm: Form[Payment])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Edit payment</h2>
    
    @form(routes.Application.update(id), 'class -> "form-horizontal") {
        
        <fieldset>

            @select(
                paymentForm("paymentType.id"), 
                options(PaymentType.options), 
                '_label -> "Payment Type", '_default -> "-- Choose a payment type --",
                '_showConstraints -> true,
                'style -> "width:300px"
            )

            @select(
                paymentForm("payee.id"), 
                options(Payee.options), 
                '_label -> "Payee", '_default -> "-- Choose a payee --",
                '_showConstraints -> false,
                'style -> "width:300px"
            )
            
            @select(
                paymentForm("year"), 
                options(Payment.yearOptions), 
                '_label -> "Year", '_default -> "-- Choose a year --",
                '_showConstraints -> true
            )
            
            @select(
                paymentForm("month"), 
                options(Payment.monthOptions), 
                '_label -> "Month", '_default -> "-- Choose a month --",
                '_showConstraints -> true
            )
            
            @inputText(paymentForm("name"), '_label -> "Description")
            
            @inputText(paymentForm("amount"), '_label -> "Amount")
            
            @inputText(paymentForm("reference"), '_label -> "Reference")
            
            @textarea(paymentForm("remarks"), '_label -> "Remarks", 'rows -> 4, 'cols -> 50)
        
        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Save this payment" class="btn btn-primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this payment" class="btn btn-danger">
    }
    
}
