@(id: Long, paymentForm: Form[Payment], artifacts: java.util.List[PaymentArtifact])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <div ng-controller="UsersController">
    <h2>Edit payment</h2>
    
    @form(routes.Application.update(id), 'class -> "form-horizontal", 'role -> "form") {
        
        <fieldset>

            @select(
                paymentForm("paymentType.id"), 
                options(PaymentType.options), 
                '_label -> "Payment Type", '_default -> "-- Choose a payment type --",
                '_showConstraints -> true,
                'style -> "width:300px",
                'class -> "form-control"
            )

			<div user-search="payee" label="Payee" ng-click="showUserSearch('payee')" user-search-id="@paymentForm.get().payee.id" user-search-name="@paymentForm.get().payee.name">
			</div>
            
            @inputText(paymentForm("payeeAccountNumber"), '_label -> "Payee Account",
                'class -> "form-control")

            <div user-search="payer" label="Payer" ng-click="showUserSearch('payer')" user-search-id="@paymentForm.get().payer.id" user-search-name="@paymentForm.get().payer.name">
            </div>
            
            @input(paymentForm("startPeriod"), 
            	'_label -> "Start Period") { (id, name, value, args) =>
			    <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args) data-date-format="dd/mm/yyyy" style="width:7em" class="form-control"/>
			    <script>
			    $('#@id').datepicker();
			    </script>
			} 
            
            @input(paymentForm("endPeriod"), 
            	'_label -> "End Period") { (id, name, value, args) =>
			    <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args) data-date-format="dd/mm/yyyy" style="width:7em" class="form-control"/>
			    <script>
			    $('#@id').datepicker();
			    </script>
			} 
            
            @input(paymentForm("paidDate"), 
            	'_label -> "Paid Date") { (id, name, value, args) =>
			    <input type="text" name="@name" id="@id" value="@value" @toHtmlArgs(args) data-date-format="dd/mm/yyyy" style="width:7em" class="form-control"/>
			    <script>
			    $('#@id').datepicker();
			    </script>
			} 
            
            @inputText(paymentForm("name"), '_label -> "Description",
                'class -> "form-control")
            
            @inputText(paymentForm("amount"), '_label -> "Amount",
                'class -> "form-control")
            
            @inputText(paymentForm("reference"), '_label -> "Reference",
                'class -> "form-control")
            
            @textarea(paymentForm("remarks"), '_label -> "Remarks", 'rows -> 4, 'cols -> 50,
                'class -> "form-control")
            
   
        
        </fieldset>
        
        <div class="form-actions">
        	<div class="col-sm-2"></div>
            <input type="submit" value="Save this payment" class="btn btn-primary"> or 
            <a href="@routes.Application.list()" class="btn btn-default">Cancel</a> 
        </div>
        
    }
    
    <br>
    <hr>
     @form(action = routes.Application.uploadFile(id), 'enctype -> "multipart/form-data", 'class -> "form-horizontal", 'role -> "form") {
     
     	<div class="clearfix control-group ">
		    <label for="upload_file" class="control-label col-sm-2 control-label" >Attachment</label>
		    <div class="input controls controls col-sm-5 ">
		        
			    <input id="upload_file" class="btn btn-default" type="file" name="picture" style="background:none; width:500px" class="form-control">
			     
		    </div>
		</div>
		<br>
		<div class="form-actions">
        	<div class="col-sm-2"></div>
			<p><input class="btn btn-primary" type="submit" value="Upload"></p>
		</div>
     
		
	 }
	 
	 
    <table class="payments table table-striped table-bordered">
        <thead>
            <tr>
                <th class="header">Artifacts</th>
            </tr>
        </thead>
        <tbody>
        	@for(artifact <- artifacts) {
                <tr>
                    <td>
						<a href="@routes.Application.getPaymentArtifact(artifact.id)">@artifact.name</a>
						@form(routes.Application.deletePaymentArtifact(artifact.id), 'style -> "display:inline") {
					        <input type="submit" value="Delete" class="btn btn-danger">
					    }
					</td>
				</tr>        	
        	}
        </tbody>
        
    </table>
	 
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this payment" class="btn btn-danger">
    }
    
    <div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="user-modal-label" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="user-modal-label">Users</h4>
		      </div>
		      <div class="modal-body">
				<div id="user-search-div" class="search-div">
					<input type="search" id="search-user" name="search-user" ng-model="search.name" value="" placeholder="Filter..." class="form-control">
				</div>
		        <div id="search-payees-list" >
		        	<table class="table table-bordered">
		        		<tr>
		        			<th>Name</th>
		        			<th>Nickname</th>
		        			<th>Email</th>
		        		</tr>
		        		<tr ng-repeat="user in users | filter:search:true" ng-click="selectUser(user)">
		        			<td>{{user.name}}</td>
		        			<td>{{user.nickName}}</td>
		        			<td>{{user.email}}</td>
		        		</tr>
		        	</table>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div>
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/date.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/payments.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/users-controller.js")"></script>
    
    </div>
}
