@(roleForm: Form[Role])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Add a role</h2>
    
    @form(routes.RoleApplication.save(), 'class -> "form-horizontal", 'role -> "form") {
        
        <fieldset>
        
            @inputText(roleForm("name"), '_label -> "Name",
                'class -> "form-control")
            @inputText(roleForm("code"), '_label -> "Code",
                'class -> "form-control")

        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Create this role" class="btn btn-primary"> or 
            <a href="@routes.RoleApplication.list()" class="btn btn-default">Cancel</a> 
        </div>
        
    }
    
}
