@(id: Long, paymentTypeForm: Form[PaymentType])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Edit payment type</h2>
    
    @form(routes.PaymentTypeApplication.update(id), 'class -> "form-horizontal", 'role -> "form") {
        
        <fieldset>
        
            @inputText(paymentTypeForm("name"), '_label -> "Name",
                'class -> "form-control")
            
        </fieldset>
        
        <div class="form-actions">
        	<div class="col-sm-2"></div>
            <input type="submit" value="Save this paymentType" class="btn btn-primary"> or 
            <a href="@routes.PaymentTypeApplication.list()" class="btn btn-default">Cancel</a> 
        </div>
        
    }
    
    @form(routes.PaymentTypeApplication.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this payment type" class="btn btn-danger">
    }
    
}
