@(payeeForm: Form[Payee])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Add a payee</h2>
    
    @form(routes.PayeeApplication.save(), 'class -> "form-horizontal") {
        
        <fieldset>
        
            @inputText(payeeForm("name"), '_label -> "Name")
            
            @inputText(payeeForm("accountNumber"), '_label -> "Account #")
            
            @inputText(payeeForm("amount"), '_label -> "Amount")
            
            @inputText(payeeForm("description"), '_label -> "Description")

        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Create this payee" class="btn btn-primary"> or 
            <a href="@routes.PayeeApplication.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
