@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Payments database</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/handlebars.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
    </head>
    <body>
        
        <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Pay Up!</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/payments">Payments</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Data</li>
              	  <li><a href="/users">Users</a></li>
	              <li><a href="/payment_types">Types</a></li>
	              <li><a href="/payees">Payees</a></li>
	              <li><a href="/payment_templates">Templates</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Reporting</li>
              	  <li><a href="/queries">Query</a></li>
              	  <li><a href="/reports">Reports</a></li>
                </ul>
              </li>
            </ul>
            <div class="navbar-text pull-right"><a class="navbar-link" href="/logout">Logout</a></div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
        <section id="main">
            @content
        </section>
        
    </body>
</html>
