@(payeeForm: Form[Payee])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Add a payee</h1>
    
    @form(routes.PayeeApplication.save()) {
        
        <fieldset>
        
            @inputText(payeeForm("name"), '_label -> "Name")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this payee" class="btn primary"> or 
            <a href="@routes.PayeeApplication.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
