@(paymentTemplateForm: Form[PaymentTemplate])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {

<div ng-app="puPaymentTemplate" ng-controller="PaymentTemplateController">
    
    <h2>Add a payment template</h2>
    
    @form(routes.PaymentTemplateApplication.save(), 'class -> "form-horizontal", 'role -> "form") {
        
        <fieldset>
            
            @select(
                paymentTemplateForm("paymentType.id"), 
                options(PaymentType.options), 
                '_label -> "Payment Type", '_default -> "-- Choose a payment type --",
                '_showConstraints -> true,
                'style -> "width:300px",
                'class -> "form-control"
            )

            <div ng-controller="UserController" ng-init="retrieveUsers()">
			<field-row element-label="Payer" element-id="payer_id">
				<input type="text" id="payer.id" name="payer.id" class="form-control" ng-model="paymentTemplate.payer.id" required style="display:none">
	       		<input type="text" id="payer_name" name="payer_name" class="form-control" ng-model="paymentTemplate.payer.name" ng-click="showUserSearch('Payer')" required>
			</field-row>
			<user-search name="payer" label="Payer" parent-model="paymentTemplate"></user-search>
			</div>
	
			<div ng-controller="UserController" ng-init="retrieveUsers()">
			<field-row element-label="Payee" element-id="payee_id">
				<input type="text" id="payee.id" name="payee.id" class="form-control" ng-model="paymentTemplate.payee.id" required style="display:none">
	       		<input type="text" id="payee_name" name="payee_name" class="form-control" ng-model="paymentTemplate.payee.name" ng-click="showUserSearch('Payee')" required>
			</field-row>
			<user-search name="payee" label="Payee" parent-model="paymentTemplate"></user-search>
			</div>
            
            @inputText(paymentTemplateForm("payeeAccountNumber"), '_label -> "Payee Account",
                'class -> "form-control")

            @inputText(paymentTemplateForm("amount"), '_label -> "Amount",
                'class -> "form-control")
            
        </fieldset>
        
        <div class="form-actions">
        	<div class="col-sm-2"></div>
            <input type="submit" value="Create this payment template" class="btn btn-primary"> or 
            <a href="@routes.PaymentTemplateApplication.list()" class="btn btn-default">Cancel</a> 
        </div>
        
    }
    
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/user-controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/payment-template-controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/form-module.js")"></script>
    
</div>
}
