@(paymentTemplateForm: Form[PaymentTemplate])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Add a payment template</h2>
    
    @form(routes.PaymentTemplateApplication.save(), 'class -> "form-horizontal", 'role -> "form") {
        
        <fieldset>
            
            @select(
                paymentTemplateForm("paymentType.id"), 
                options(PaymentType.options), 
                '_label -> "Payment Type", '_default -> "-- Choose a payment type --",
                '_showConstraints -> true,
                'style -> "width:300px",
                'class -> "form-control"
            )

            <div ng-controller="UsersController" ng-init="retrieveUsers()">
           		<div user-search="payee" label="Payee" ng-click="showUserSearch('Payee')"  ></div>
           	</div>
            
            @inputText(paymentTemplateForm("payeeAccountNumber"), '_label -> "Payee Account",
                'class -> "form-control")

            <div ng-controller="UsersController" ng-init="retrieveUsers()">
           		<div user-search="payer" label="Payer" ng-click="showUserSearch('Payer')"  ></div>
           	</div>
            
            @inputText(paymentTemplateForm("amount"), '_label -> "Amount",
                'class -> "form-control")
            
        </fieldset>
        
        <div class="form-actions">
        	<div class="col-sm-2"></div>
            <input type="submit" value="Create this payment template" class="btn btn-primary"> or 
            <a href="@routes.PaymentTemplateApplication.list()" class="btn btn-default">Cancel</a> 
        </div>
        
    }
    
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/user-controller.js")"></script>
    
}
