@(id: Long, paymentTemplateForm: Form[PaymentTemplate])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Edit payment template</h2>
    
    @form(routes.PaymentTemplateApplication.update(id), 'class -> "form-horizontal") {
        
        <fieldset>
            
            @select(
                paymentTemplateForm("paymentType.id"), 
                options(PaymentType.options), 
                '_label -> "Payment Type", '_default -> "-- Choose a payment type --",
                '_showConstraints -> true,
                'style -> "width:300px"
            )

            @select(
                paymentTemplateForm("payee.id"), 
                options(User.options), 
                '_label -> "Payee", '_default -> "-- Choose a payee --",
                '_showConstraints -> true,
                'style -> "width:300px"
            )

            @select(
                paymentTemplateForm("payer.id"), 
                options(User.options), 
                '_label -> "Payer", '_default -> "-- Choose a payer --",
                '_showConstraints -> true,
                'style -> "width:300px"
            )
            
            @inputText(paymentTemplateForm("amount"), '_label -> "Amount")
            
        </fieldset>
        
        <div class="form-actions">
            <input type="submit" value="Save this paymentTemplate" class="btn btn-primary"> or 
            <a href="@routes.PaymentTemplateApplication.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.PaymentTemplateApplication.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this payment template" class="btn btn-danger">
    }
    
}
