@(id: Long, paymentTemplateForm: Form[PaymentTemplate])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h2>Edit payment template</h2>
    
    @form(routes.PaymentTemplateApplication.update(id), 'class -> "form-horizontal", 'role -> "form") {
        
        <fieldset>
            
            @select(
                paymentTemplateForm("paymentType.id"), 
                options(PaymentType.options), 
                '_label -> "Payment Type", '_default -> "-- Choose a payment type --",
                '_showConstraints -> true,
                'style -> "width:300px",
                'class -> "form-control"
            )

           <div ng-controller="UsersController" ng-init="retrieveUsers()">
				<div user-search="payee" label="Payee" ng-click="showUserSearch('payee')" user-search-id="@paymentTemplateForm.get().payee.id" user-search-name="@paymentTemplateForm.get().payee.name"></div>
            </div>
            
            @inputText(paymentTemplateForm("payeeAccountNumber"), '_label -> "Payee Account",
                'class -> "form-control")

            
           <div ng-controller="UsersController" ng-init="retrieveUsers()">
				<div user-search="payer" label="Payer" ng-click="showUserSearch('payer')" user-search-id="@paymentTemplateForm.get().payer.id" user-search-name="@paymentTemplateForm.get().payer.name"></div>
            </div>
            
            @inputText(paymentTemplateForm("amount"), '_label -> "Amount",
                'class -> "form-control")
            
        </fieldset>
        
        <div class="form-actions">
        	<div class="col-sm-2"></div>
            <input type="submit" value="Save this paymentTemplate" class="btn btn-primary"> or 
            <a href="@routes.PaymentTemplateApplication.list()" class="btn btn-default">Cancel</a> 
        </div>
        
    }
    
    @form(routes.PaymentTemplateApplication.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this payment template" class="btn btn-danger">
    }
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/users-controller.js")"></script>
    
}
