

<h2>Add a monthly payment</h2>

<form role="form" class="form-horizontal" ng-init="initializeForm()" id="payment_form" name="payment_form">

	<fieldset>

		<field-row element-label="Payment Type" element-id="payment_type_id">
			<select id="payment_type_id" name="payment_type_id" ng-model="payment.paymentType.id" ng-options="type.id as type.name for type in paymentTypes" class="form-control" required>
				<option value="">-- choose type --</option>
			</select>
			<span class="error" ng-show="payment_form.payment_type_id.$error.required">Required</span>
		</field-row>

		<div ng-controller="UserController" ng-init="retrieveUsers()">
		<field-row element-label="Payer" element-id="payer.id">
			<input type="hidden" id="payer.id" name="payer.id" class="form-control" ng-model="payment.payer.id" required>
       		<input type="text" id="payer_name" name="payer_name" class="form-control" ng-model="payment.payer.name" ng-click="showUserSearch('Payer')" required>
			<span class="error" ng-show="payment_form.payer_name.$error.required">Required</span>
		</field-row>
		<user-search name="payer" label="Payer" parent-model="payment"></user-search>
		</div>

		<div ng-controller="UserController" ng-init="retrieveUsers()">
		<field-row element-label="Payee" element-id="payee.id">
			<input type="hidden" id="payee.id" name="payee.id" class="form-control" ng-model="payment.payee.id" required>
       		<input type="text" id="payee_name" name="payee_name" class="form-control" ng-model="payment.payee.name" ng-click="showUserSearch('Payee')" required>
			<span class="error" ng-show="payment_form.payee_name.$error.required">Required</span>
		</field-row>
		<user-search name="payee" label="Payee" parent-model="payment"></user-search>
		</div>

		<field-row element-label="Payee Account" element-id="payee_account">
			<input id="payee_account" name="payee_account" class="form-control" ng-model="payment.payeeAccountNumber" >
		</field-row>

		<field-row element-label="Year" element-id="year">
			<select id="year" name="year" ng-model="payment.year" ng-options="year for year in years" class="form-control" required>
			</select>
		</field-row>
		
		<div class="form-group" ng-repeat="month in payment.months">
	      <label class="col-sm-2 control-label"> {{month.name}} </label>
	      <div class="controls col-sm-5 ">
	         <div class="text-toggle-button ">
	            <input type="checkbox" id="month_{{month.id}}" name="month_{{month.id}}" ng-model="month.selected" class="toggle" />
	            <input type="text" id="reference_{{month.id}}" name="reference_{{month.id}}" value="" placeholder="reference #" ng-show="month.selected" 
	            	class="form-control" ng-model="month.reference"
	             />
	         </div>
	      </div>
	   </div>
		
		<field-row element-label="Paid Date" element-id="paid_date">
			<date-picker parent-model="payment" model-variable="paidDate">
				 <input id="paid_date" name="paid_date" class="form-control" type="text" ng-model="payment.paidDate" class="form-control" required>
			</date-picker>
			<span class="error" ng-show="payment_form.paid_date.$error.required">Required</span>
		</field-row>
		
		<field-row element-label="Amount" element-id="amount">
			<input id="amount" name="amount" class="form-control" required ng-model="payment.amount" ng-pattern="/^[\d\.]+$/">
			<span class="error" ng-show="payment_form.amount.$error.required">Required</span>
			<span class="error" ng-show="payment_form.amount.$error.pattern">Invalid!</span>
		</field-row>
		
		<field-row element-label="Reference" element-id="reference">
			<input id="reference" name="reference" class="form-control" ng-model="payment.reference">
		</field-row>
		
		<field-row element-label="Remarks" element-id="remarks">
			<textarea id="remarks" name="remarks" class="form-control" ng-model="payment.remarks" rows="5"></textarea>
		</field-row>
		
		

	</fieldset>

	<div class="form-actions">
        <div class="col-sm-2"></div>
		<button ng-click="save()" class="btn btn-primary" ng-disabled="!payment_form.$valid">
			<span class="glyphicon glyphicon-plus"></span>Add
		</button>
		
		<button ng-click="cancel()" class="btn btn-default">Cancel</button>
	</div>

	<payment-templates></payment-templates>
	
	

	

</form>
