

<h2>Add a payment</h2>

<form role="form" class="form-horizontal" ng-init="initializeForm()" id="payment_form" name="payment_form">

	<fieldset>
	
		<input type="hidden" id="payment_id" name="payment_id" class="form-control" ng-model="payment.id">

		<field-row element-label="Payment Type" element-id="payment_type_id">
			<select id="payment_type_id" name="payment_type_id" ng-model="payment.paymentType.id" ng-options="type.id as type.name for type in paymentTypes" class="form-control" required>
				<option value="">-- choose type --</option>
			</select>
			<span class="error" ng-show="payment_form.payment_type_id.$error.required">Required</span>
		</field-row>

		<div ng-controller="UserController" ng-init="retrieveUsers()">
		<field-row element-label="Payer" element-id="payer.id">
			<input type="hidden" id="payer.id" name="payer.id" class="form-control" ng-model="payment.payer.id" required>
       		<input type="text" id="payer_name" name="payer_name" class="form-control" ng-model="payment.payer.name" ng-click="showUserSearch('Payer')" required>
			<span class="error" ng-show="payment_form.payer_name.$error.required">Required</span>
		</field-row>
		<user-search name="payer" label="Payer" parent-model="payment"></user-search>
		</div>

		<div ng-controller="UserController" ng-init="retrieveUsers()">
		<field-row element-label="Payee" element-id="payee.id">
			<input type="hidden" id="payee.id" name="payee.id" class="form-control" ng-model="payment.payee.id" required>
       		<input type="text" id="payee_name" name="payee_name" class="form-control" ng-model="payment.payee.name" ng-click="showUserSearch('Payee')" required>
			<span class="error" ng-show="payment_form.payee_name.$error.required">Required</span>
		</field-row>
		<user-search name="payee" label="Payee" parent-model="payment"></user-search>
		</div>
		

		<field-row element-label="Payee Account" element-id="payee_account">
			<input id="payee_account" name="payee_account" class="form-control" ng-model="payment.payeeAccountNumber" >
		</field-row>
		
		<field-row element-label="Start Period" element-id="start_period">
			<date-picker parent-model="payment" model-variable="startPeriod" >
				 <input id="start_period" name="start_period" class="form-control" type="text" ng-model="payment.startPeriod" class="form-control" required>
			</date-picker>
			<span class="error" ng-show="payment_form.start_period.$error.required">Required</span>
		</field-row>
		
		<field-row element-label="End Period" element-id="end_period">
			<date-picker parent-model="payment" model-variable="endPeriod">
				 <input id="end_period" name="end_period" class="form-control" type="text" ng-model="payment.endPeriod" class="form-control" required>
			</date-picker>
			<span class="error" ng-show="payment_form.end_period.$error.required">Required</span>
		</field-row>
		
		<field-row element-label="Paid Date" element-id="paid_date">
			<date-picker parent-model="payment" model-variable="paidDate">
				 <input id="paid_date" name="paid_date" class="form-control" type="text" ng-model="payment.paidDate" class="form-control" required>
			</date-picker>
			<span class="error" ng-show="payment_form.paid_date.$error.required">Required</span>
		</field-row>
		
		<field-row element-label="Amount" element-id="amount">
			<input id="amount" name="amount" class="form-control" required ng-model="payment.amount" ng-pattern="/^[\d\.]+$/">
			<span class="error" ng-show="payment_form.amount.$error.required">Required</span>
			<span class="error" ng-show="payment_form.amount.$error.pattern">Invalid!</span>
		</field-row>
		
		<field-row element-label="Reference" element-id="reference">
			<input id="reference" name="reference" class="form-control" ng-model="payment.reference">
		</field-row>
		
		<field-row element-label="Remarks" element-id="remarks">
			<textarea id="remarks" name="remarks" class="form-control" ng-model="payment.remarks" rows="5"></textarea>
		</field-row>
		
	</fieldset>

	<div class="form-actions">
		<button ng-click="save()" class="btn btn-default" ng-disabled="!payment_form.$valid">
			<div ng-hide="editMode()">
			<span class="glyphicon glyphicon-plus" ></span>Add
			</div>
			<div ng-show="editMode()">
			<span class="glyphicon glyphicon-floppy-disk" ></span>Update
			</div>
		</button>
		
		
		<button ng-click="cancel()" class="btn btn-default">Cancel</button>
	</div>
	
	<div ng-hide="editMode()">
	<payment-templates></payment-templates>
	</div>

</form>

<form action="/payments/{{payment.id}}/delete" method="POST">
	<div class="topRight" ng-show="editMode()">
	<input type="submit" value="Delete this payment" class="btn btn-danger">
	</div>
</form>

<hr>
<div ng-show="editMode()">
	<div ng-controller="FileUploadController">
	
	    <button class="btn btn-default" ng-click="openFileUpload();"><span class="glyphicon glyphicon-upload" ></span>Upload a File</button>
	
		<div class="form-group">
	    
		    <div class="modal fade" id="fileupload-modal" tabindex="-1" role="dialog" aria-labelledby="fileupload-modal-label" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="fileupload-modal-label">Payment Artifact Upload</h4>
			      </div>
			      <div class="modal-body">
	
						  <input type="hidden" ng-model="myModelObj">
						  <input type="file" ng-file-select="onFileSelect($files)" class="form-control">
						  
						  <!-- <input type="file" ng-file-select="onFileSelect($files)" multiple>
						  <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
						        ng-show="dropSupported">drop files here</div>
						  <div ng-file-drop-available="dropSupported=true" 
						        ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
						  <button ng-click="upload.abort()">Cancel Upload</button> -->
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div>
		</div>
	</div>
	
	<div>
		<table class="table table-bordered">
			<tr>
				<th>Artifact</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="artifact in payment.artifacts" >
				<td><a href="/payments/artifacts/{{artifact.id}}">{{artifact.name}}</a></td>
				<td><button class="btn btn-danger" ng-click="deleteArtifact(artifact.id);">Delete</button></td>
			</tr>
		</table>
	</div>
</div>
